<div class="container text-center">
    <h1 class="display-4">Sobre Nosotros</h1>
    <p class="lead">Este es un proyecto final para la materia de Desarrollo de Software Web Front-End.</p>
    <a href="https://virtual.ucompensar.edu.co/pluginfile.php/2376224/mod_resource/content/6/2B.%20Formato%20-%20Actividad%20acad%C3%A9mica%20-%20Transferencia.pdf" class="btn btn-dark btn-lg">Ver Guía de Transferencia</a>
    <div id="carouselExample" class="carousel slide mx-auto m-5 bg-dark" style="max-width: 600px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/github-mark-white.png" class="d-block mx-auto" style="max-width: 100%;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/logo.jpg" class="d-block mx-auto" style="max-width: 100%;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/front.png" class="d-block mx-auto" style="max-width: 100%;" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
