<section id="inicio" class="py-5 text-center">
    <div class="container">
        <h1 class="display-4">¡Bienvenido a mi Primer Proyecto en Angular!</h1>
        <p class="lead">Mi nombre es JULIAN DAVID RUIZ RAMIREZ. Aquí encontrarás información importante sobre Angular y
            Bootstrap.</p>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo"
                    class="tech-logo">
                <p class="lead">Angular es un marco de trabajo desarrollado y mantenido por Google. Es utilizado para
                    construir aplicaciones web de una sola página (SPA) y aplicaciones móviles híbridas.</p>
                <a href="https://angular.io/docs" class="btn btn-primary btn-lg">Ir a la Documentación de Angular</a>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="Bootstrap Logo"
                    class="tech-logo">
                <p class="lead">Bootstrap es un marco de trabajo front-end desarrollado por Twitter. Proporciona una
                    colección de herramientas y estilos CSS predefinidos para el diseño de sitios web y aplicaciones web
                    responsivas.</p>
                <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/"
                    class="btn btn-primary btn-lg">Ir a la Documentación de Boostrap</a>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-lg-4">
                <img src="../../assets/github-mark.png" alt="GitHub Logo" class="tech-logo">
                <p class="lead">GitHub es una plataforma de desarrollo colaborativo de software que utiliza el sistema
                    de control de versiones Git. Puedes encontrar el código fuente de este proyecto en mi repositorio de
                    GitHub.</p>
                <a href="https://github.com/tu_usuario/tu_proyecto" class="btn btn-dark btn-lg">Ver en GitHub</a>
            </div>
        </div>
    </div>
</section>